@model NivelamentoKeyth.Models.ViewModels.ProductDeliveryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>View</title>
    </head>
    <body>
        <form action="/productdelivery/import/?handler=Upload"
              enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
              method="post">
            <dl>
                <dt>
                    <label for="FileUpload_FormFile">File</label>
                </dt>
                <dd>
                    <input id="FileUpload_FormFile" type="file"
                           name="FileUpload.FormFile" />
                </dd>
            </dl>

            <input class="btn" type="submit" value="Upload" />

            <div style="margin-top:15px">
                <output name="result"></output>
            </div>
        </form>

    </body>

</html>

<script type="Javascript">
          "use strict";

    function AJAXSubmit (oFormElement) {
      var oReq = new XMLHttpRequest();
      oReq.onload = function(e) {
      oFormElement.elements.namedItem("result").value =
        'Result: ' + this.status + ' ' + this.statusText;
      };
      oReq.open("post", oFormElement.action);
      oReq.send(new FormData(oFormElement));
    }
</script>

